*::selection {
  background: rgb(236, 225, 225);
}

body {
  background: rgb(236, 223, 223);
}

.logo {
  width: 10%;
  height: 10%;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio .content h1 {
  font-size: 100px;
  color: aqua;
  text-transform: uppercase;
}

.inicio .content p {
  font-size: 30px;
  color: #666;
  padding: 30px;
}

.servicios .caja-contenedora {
  display: flex;
  align-items: center;
  padding: 20px;
}

.servicios .caja-contenedora .caja {
  background: rgb(218, 204, 204);
  border: 0.5rem solid rgb(187, 147, 147);
  margin: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
  height: 700px;
  width: 30%;
}

.servicios .caja-contenedora .caja h3 {
  font-size: 40px;
  color: rgb(143, 87, 87);
  padding-top: 15px;
  padding-left: 15px;
}

.img {
  height: 300px;
}

.heading {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6rem;
  background: aqua;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 5.5rem;
  color: aqua;
  text-align: center;
  justify-content: center;
}

.contacto {
  padding: 50px;
  padding-left: 5px;
  padding-bottom: 50px;
}

.contacto .container .col-13 {
  text-align: center;
}

@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .content h1 {
    font-size: 3.3rem;
    color: aqua;
    text-transform: uppercase;
    padding-top: 50px;
  }
  .inicio .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 20px;
    padding-left: 50px;
  }
  .servicios .caja-contenedora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
  }
  .servicios .caja-contenedora .caja {
    flex: 1 1 30rem;
    background: white;
    border: 0.5rem solid rgb(156, 115, 115);
    margin: 1.5rem;
    padding: 50px;
    text-align: center;
  }
  .servicios .caja-contenedora .caja h3 {
    font-size: 30px;
    color: #666;
    padding-top: 50px;
  }
  .inicio {
    flex-flow: column-reverse;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 25px;
    padding-top: 10px;
    border-radius: 6rem;
    background: aqua;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .img {
    height: 200px;
  }
  .contacto h1 {
    font-size: 3.3rem;
    padding-left: 50px;
    padding-top: 50px;
  }
  .contacto .container .col-13 {
    padding-left: 50px;
  }
}
*::selection {
  background: rgb(236, 228, 228);
}

body {
  background: rgb(236, 227, 227);
}

.logo {
  width: 10%;
  height: 10%;
}

h1 {
  font-size: 5.5rem;
  color: aqua;
  text-align: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
}
*::selection {
  background: rgb(236, 228, 228);
}

body {
  background: rgb(236, 226, 226);
}

.logo {
  width: 10%;
  height: 10%;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio .content h1 {
  font-size: 100px;
  color: aqua;
  text-transform: uppercase;
}

.inicio .content p {
  font-size: 30px;
  color: #666;
  padding: 30px;
}

.servicios .caja-contenedora {
  display: flex;
  align-items: center;
  padding: 20px;
}

.servicios .caja-contenedora .caja {
  background: rgb(218, 204, 204);
  border: 0.5rem solid rgb(187, 147, 147);
  margin: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
}

.servicios .caja-contenedora .caja h3 {
  font-size: 40px;
  color: rgb(143, 87, 87);
  padding-top: 15px;
  padding-left: 15px;
}

.heading {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6rem;
  background: aqua;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 5.5rem;
  color: aqua;
  text-align: center;
  justify-content: center;
}

.row img {
  width: 20%;
  padding: 5px;
  margin: 1.5rem;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .content h1 {
    font-size: 3.5rem;
    color: aqua;
    text-transform: uppercase;
    padding-top: 50px;
  }
  .inicio .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 20px;
    padding-left: 50px;
  }
  .servicios .caja-contenedora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
  }
  .servicios .caja-contenedora .caja {
    flex: 1 1 30rem;
    background: white;
    border: 0.5rem solid rgb(156, 115, 115);
    margin: 1.5rem;
    padding: 50px;
    text-align: center;
  }
  .servicios .caja-contenedora .caja h3 {
    font-size: 30px;
    color: #666;
    padding-top: 50px;
  }
  .inicio {
    flex-flow: column-reverse;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 25px;
    padding-top: 10px;
    border-radius: 6rem;
    background: aqua;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .row img {
    width: 50%;
    padding: 10px;
    margin: 1rem;
    flex-wrap: wrap;
  }
}
*::selection {
  background: rgb(236, 226, 226);
}

body {
  background: rgb(236, 230, 230);
}

.logo {
  width: 10%;
  height: 10%;
}

.servicios .caja-contenedora {
  display: flex;
  align-items: center;
  padding: 20px;
}

.servicios .caja-contenedora .caja {
  background: rgb(218, 204, 204);
  border: 0.5rem solid rgb(187, 147, 147);
  margin: 1.5rem;
  padding: 2rem 2rem;
  text-align: center;
}

.servicios .caja-contenedora .caja h3 {
  font-size: 40px;
  color: rgb(143, 87, 87);
  padding-top: 15px;
  padding-left: 15px;
}

.heading {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}

h1 {
  font-size: 5.5rem;
  color: aqua;
  text-align: center;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
}

@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .servicios .caja-contenedora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
  }
  .servicios .caja-contenedora .caja {
    flex: 1 1 50rem;
    background: rgb(218, 199, 199);
    border: 0.5rem solid rgb(156, 115, 115);
    margin: 50px;
    padding: 100px;
    text-align: center;
  }
  .servicios .caja-contenedora .caja h3 {
    font-size: 40px;
    color: rgb(161, 136, 136);
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  img {
    width: 200px;
  }
}
@media (max-width: 520px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .servicios .caja-contenedora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
  }
  .servicios .caja-contenedora .caja {
    background: rgb(218, 199, 199);
    border: 0.5rem solid rgb(156, 115, 115);
    margin: 30px;
    padding: 50px;
    text-align: center;
  }
  .servicios .caja-contenedora .caja h3 {
    font-size: 40px;
    color: rgb(161, 136, 136);
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  img {
    width: 200px;
  }
}
*::selection {
  background: rgb(236, 231, 231);
}

body {
  background: rgb(236, 229, 229);
}

.logo {
  width: 10%;
  height: 10%;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio .content h1 {
  font-size: 100px;
  color: aqua;
  text-transform: uppercase;
}

.inicio .content p {
  font-size: 30px;
  color: #666;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.heading {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}

h1 {
  font-size: 5.5rem;
  color: aqua;
  text-align: center;
  justify-content: center;
}

.yocertificado {
  width: 1000px;
  height: auto;
  padding-bottom: 5%;
}

.certificado {
  text-align: center;
}

@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .content h1 {
    font-size: 3.3rem;
    color: aqua;
    text-transform: uppercase;
    padding-top: 50px;
  }
  .inicio .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .yocertificado {
    width: 600px;
    height: auto;
  }
  .inicio {
    flex-flow: column-reverse;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
}
@media (max-width: 860px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .content h1 {
    font-size: 3.3rem;
    color: aqua;
    text-transform: uppercase;
    padding-top: 50px;
  }
  .inicio .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .yocertificado {
    width: 400px;
    height: auto;
  }
  .certificado {
    text-align: center;
  }
  .inicio {
    flex-flow: column-reverse;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
}
@media (max-width: 520px) {
  .yocertificado {
    width: 300px;
    height: auto;
  }
  .certificado {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
