@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {color: pink; }



* { 
    font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

*::selection { background: var(--limon);
color: pink; }

html { font-size: 100%;
;}

body {  background-color: pink;}









section {min-height: 100vh; 
padding: 0 9%;
padding-top: 7.5rem;
padding-bottom: 2rem;}

.boton {display: inline-block;
margin-top: 1rem;
padding: .8rem 3rem;
border-radius: 5rem;
background-color: pink;
font-size: 1.8rem;
color: black;
cursor: pointer;
box-shadow: 0 .5rem  1rem rgba(0, 0, 0, .1);    }


.heading {text-align: center;
background: var(black);
color: black;
background-clip: text  ;
font-size: 3.5rem;
padding: 1rem;
}







header { position: fixed;
top: 0;
left: 0;
width: 100%; 
background-color: pink;
box-shadow: 0  .5rem    1rem rgba(0, 0, 0, .1); 
padding: 1rem  9%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000; }

header .logonazirap {width: 10%;
    height: 10%
    ;}

    header .navegacion a {font-size: 1.5rem;
    margin-left: 2rem;
    color: black;   }

    header .navegacion a:hover { color: lightsalmon;   }

    header label { font-size: 3rem;
    color: var(black);
cursor: pointer;  
visibility: hidden;
opacity: 0;}

@media (max-width:1200px) { html { font-size: 55%; }}

@media (max-width:768px) { header label { visibility: visible; opacity: 1; } }

header .navegacion { position: absolute;
top: 70%;
left: 0;
width: 100%; 
background: lightpink;
padding: 1rem 2rem;
border-top: .1rem solid rgba(0, 0, 0, .2) ;
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
transform-origin: top;
transform: scaleY(0);
opacity: 0;
transition: .2s linear;
   }

   header .navegacion { display: block;
margin: 2rem 0rem;
font-size: 2rem;}

   header input:checked ~ .navegacion { transform: scaleY(1);
opacity: 1;}

header input:checked ~ label::before {content: '\f00d';  }

.inicio {   flex-flow: column-reverse;}


.inicio .contenedor h3 { font-size: 3.6rem;   }

.inicio .contenedor p { font-size: 1.5rem;}



@media (max-width:450px) { html {font: size 49%; ;} }



/* Encabezado de la página */






.imagenlogo {width: 10px;
height: 10px;
}

.inicio {display: flex;
align-items: center;
justify-content: center;
background: url(../img/IMG_20221014_110837.jpg) no-repeat;
background-size: cover;
background-position: center;}

.inicio .imagenp img { width: 0vh;}

.inicio .contenedor h3 {font-size: 5rem;
color: #333; 
text-transform: uppercase;}

.inicio .contenedor span {color: var(--limon);
text-transform: uppercase;}

.inicio .contenedor p { font-size: 2rem;
color: aqua;
padding: 1rem 0;}


.detalles {display: flex;
align-items: center;  
justify-content: center;
flex-wrap: wrap;
width: 100%;
height:100% ;
    }

    .detalles  { 
        flex: 1 1 30rem;
        background: white;
        border-radius: .5rem;
        border: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        margin: 1.5rem;
        padding: 3rem 2rem;
        border-radius: 1.5rem;
        text-align: center;
    }


    .detalles2 {display: flex;
        align-items: center;  
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height:100% ;
            }
        
            .detalles2  { 
                flex: 1 1 30rem;
                background: white;
                border-radius: .5rem;
                border: .1rem solid rgba(0, 0, 0, .2);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
                margin: 1.5rem;
                padding: 3rem 2rem;
                border-radius: 1.5rem;
                text-align: center;
            }

            .soyunh4 {  font-size: 2rem;
            text-align: center;
        color: black;
    margin: 3rem;}

    .soyunh3 {  font-size: 2rem;
        text-align: center;
    color: black;
margin: 3rem; }

.detalles3 {display: flex;
    align-items: center;  
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height:100% ;
        }
    
        .detalles3  { 
            flex: 1 1 30rem;
            background: white;
            border-radius: .5rem;
            border: .1rem solid rgba(0, 0, 0, .2);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            margin: 1.5rem;
            padding: 3rem 2rem;
            border-radius: 1.5rem;
            text-align: center;
        }

        .soyunh5 {  font-size: 2rem;
            text-align: center;
        color: black;
    margin: 3rem; }




    .contactoparrafo { font-size: 5rem;
    text-align: center;
color: black;
margin: 3rem; }


.servicios { font-size: 5rem;
    text-align: center;
color: black;
margin: 3rem; }



.acrilico { flex: 1 1 30rem;
    background: white;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 2rem 2rem;
    border-radius: 1.5rem;
    text-align: center;}


.masglo {background: white;
border-radius: .5rem;
border: .1rem   solid rgba(0, 0, 0, .2);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
margin: 1.5rem;
padding: 2rem 2rem;
border-radius: 1.5rem;
text-align: center;}

.permanente  {background: white;
    border-radius: .5rem;
    border: .1rem   solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 2rem 2rem;
    border-radius: 1.5rem;
    text-align: center;}















.imagenprincipal {background-image: url(/img/uñas.jpg)
    ;
background-position: center;}
    






footer { background-color: lightpink;  
line-height: 50px;
text-align: center;
height: 150px;
color: purple;
font-family: cursive;

}

.sobremi { text-align: center;
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 100px;}


/* Final Inicio */


.sobredemi {font-size: 5rem;
color: black;
text-align: center;
margin: 1rem;
text-transform: uppercase;}

.parrami { font-size: 2rem;
color: lightsalmon;
text-transform: uppercase;
margin: 10rem;  }

/* Final Sobre mi */

.h2galeria { font-size: 5rem;
color: black; 
text-align: center;
margin: 2rem;
text-transform: uppercase;  }
















