@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;800&family=Poppins:wght@400;500;600&family=Signika:wght@500;600&display=swap"); /*Estilos inicio*/
/*Style Index*/
*::selection {
  background: rgb(236, 225, 225);
}

body {
  background: rgb(236, 223, 223);
}

/*Logo*/
.logo {
  width: 10%;
  height: 10%;
}

/*Inicio*/
.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.inicio .content h1 {
  font-size: 100px;
  color: aqua;
  text-transform: uppercase;
  padding-bottom: 50px;
  font-family: Poppins;
}

.inicio .content p {
  font-size: 30px;
  color: #666;
  font-family: Mukta;
  padding-left: 5%;
}

/*Servicios*/
.servicios .caja-contenedora {
  display: flex;
  align-items: center;
  padding: 20px;
}

.servicios {
  padding-top: 30px;
}

.servicios .heading {
  font-family: Poppins;
}

.servicios .caja-contenedora .caja {
  background: #666;
  border: 0.5rem solid rgb(216, 193, 193);
  margin: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
  height: 700px;
  width: 30%;
}

.servicios .caja-contenedora .caja h3 {
  font-size: 40px;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
  font-family: Mukta;
}

.img {
  height: 300px;
}

.servicios .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6rem;
  background: rgb(187, 147, 147);
  font-size: 20px;
  color: #666;
  cursor: pointer;
}

/*Contacto*/
.contacto {
  padding: 50px;
  padding-left: 5px;
  padding-bottom: 50px;
}

.contacto .container .col-13 {
  text-align: center;
}

.contacto h1 {
  font-size: 5.5rem;
  font-family: Poppins;
  padding-left: 50px;
}

.container .row .img-logo {
  width: 70%;
  height: auto;
}

/*Media Query's*/
@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .content h1 {
    font-size: 3.3rem;
    color: aqua;
    text-transform: uppercase;
    padding-top: 50px;
    font-family: Poppins;
  }
  .inicio .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 20px;
    padding-left: 50px;
  }
  .servicios .heading {
    font-family: Poppins;
  }
  .servicios .caja-contenedora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
  }
  .servicios .caja-contenedora .caja {
    flex: 1 1 30rem;
    background: rgb(255, 255, 255);
    border: 0.5rem solid rgb(236, 228, 228);
    margin: 1.5rem;
    padding: 50px;
    text-align: center;
  }
  .servicios .caja-contenedora .caja h3 {
    font-size: 30px;
    color: rgb(187, 147, 147);
    padding-top: 50px;
    font-family: Mukta;
  }
  .inicio {
    flex-flow: column-reverse;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  .servicios .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 25px;
    padding-top: 10px;
    border-radius: 6rem;
    background: rgb(218, 204, 204);
    font-size: 25px;
    color: rgb(236, 227, 227);
    cursor: pointer;
    font-family: Poppins;
  }
  .img {
    height: 200px;
  }
  .contacto h1 {
    font-size: 3.3rem;
    padding-left: 30px;
    padding-top: 50px;
    font-family: Poppins;
  }
  .contacto .container .col-13 {
    padding-left: 50px;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .content h1 {
    font-size: 3.3rem;
    color: aqua;
    text-transform: uppercase;
    padding-top: 50px;
    font-family: Poppins;
  }
  .inicio .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 20px;
    padding-left: 50px;
  }
  .servicios .heading {
    font-family: Poppins;
  }
  .servicios .caja-contenedora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
  }
  .servicios .caja-contenedora .caja {
    flex: 1 1 30rem;
    background: rgb(236, 228, 228);
    border: 0.5rem solid rgb(216, 193, 193);
    margin: 1.5rem;
    padding: 50px;
    text-align: center;
  }
  .servicios .caja-contenedora .caja h3 {
    font-size: 30px;
    color: rgb(187, 147, 147);
    padding-top: 50px;
    font-family: Mukta;
  }
  .inicio {
    flex-flow: column-reverse;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  .servicios .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 25px;
    padding-top: 10px;
    border-radius: 6rem;
    background: rgb(218, 204, 204);
    font-size: 25px;
    color: rgb(236, 227, 227);
    cursor: pointer;
    font-family: Poppins;
  }
  .img {
    height: 200px;
  }
  .contacto h1 {
    font-size: 3.3rem;
    padding-left: 30px;
    padding-top: 50px;
    font-family: Poppins;
  }
  .contacto .container .col-13 {
    padding-left: 50px;
  }
}
/*Estilos inicio*/
*::selection {
  background: rgb(236, 225, 225);
}

body {
  background: rgb(236, 225, 225);
}

.logo {
  width: 10%;
  height: 10%;
}

.formulario h1 {
  font-size: 5.5rem;
  color: aqua;
  text-align: center;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.container {
  padding-bottom: 5%;
}

@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .formulario h1 {
    font-size: 3.3rem;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .formulario h1 {
    font-size: 2rem;
    padding: 20px;
  }
}
/*Estilos inicio*/
*::selection {
  background: rgb(236, 225, 225);
}

body {
  background: rgb(236, 225, 225);
}

.logo {
  width: 10%;
  height: 10%;
}

.heading {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}

.row img {
  width: 20%;
  padding: 5px;
  margin: 1.5rem;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  .row img {
    width: 50%;
    padding: 10px;
    margin: 1rem;
    flex-wrap: wrap;
  }
}
/*Estilos inicio*/
*::selection {
  background: rgb(236, 225, 225);
}

body {
  background: rgb(236, 225, 225);
}

.logo {
  width: 10%;
  height: 10%;
}

.servicios .caja-contenedora {
  display: flex;
  align-items: center;
  padding: 20px;
}

.servicios .caja-contenedora .caja {
  background-color: rgb(216, 193, 193);
  border: 0.5rem solid #666;
  margin: 1.5rem;
  padding: 2rem 2rem;
  text-align: center;
}

.servicios .caja-contenedora .caja h3 {
  font-size: 40px;
  color: rgb(187, 147, 147);
  padding-top: 15px;
  padding-left: 15px;
}

.heading {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}

h1 {
  font-size: 5.5rem;
  color: aqua;
  text-align: center;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
}

@media (max-width: 991px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .servicios .caja-contenedora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
  }
  .servicios .caja-contenedora .caja {
    flex: 1 1 50rem;
    background: rgb(236, 225, 225);
    border: 0.5rem solid 5;
    margin: 50px;
    padding: 100px;
    text-align: center;
  }
  .servicios .caja-contenedora .caja h3 {
    font-size: 40px;
    color: rgb(187, 147, 147);
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  img {
    width: 200px;
  }
}
@media (max-width: 520px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .servicios .caja-contenedora {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
  }
  .servicios .caja-contenedora .caja {
    background: rgb(236, 225, 225);
    border: 0.5rem solid rgb(236, 225, 225);
    margin: 30px;
    padding: 50px;
    text-align: center;
  }
  .servicios .caja-contenedora .caja h3 {
    font-size: 40px;
    color: #666;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  img {
    width: 200px;
  }
}
/*Estilos inicio*/
/*Selection-body*/
*::selection {
  background: rgb(236, 225, 225);
  /*Logo*/
  /*Inicio*/
  /*Media Query*/
}
*::selection body {
  background: rgb(236, 225, 225);
}
*::selection .logo {
  width: 10%;
  height: 10%;
}
*::selection .inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
*::selection .inicio .content {
  font-size: 100px;
  color: aqua;
  text-transform: uppercase;
}
*::selection .inicio .content p {
  font-size: 30px;
  color: rgb(216, 193, 193);
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Mukta;
}
*::selection .heading {
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
  font-family: Poppins;
}
@media (max-width: 991px) {
  *::selection {
    /*Logo*/
    /*Inicio*/
    /*Media Query*/
  }
  *::selection .logo {
    width: 25%;
    height: 25%;
  }
  *::selection .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  *::selection .inicio .content {
    font-size: 3.3rem;
    color: #666;
    text-transform: uppercase;
    padding-top: 50px;
  }
  *::selection .inicio .content p {
    font-size: 1.5rem;
    color: rgb(216, 193, 193);
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
  }
  *::selection .inicio {
    flex-flow: column-reverse;
  }
}
@media (max-width: 991px) and (max-width: 860px) {
  *::selection {
    /*Logo*/
    /*Inicio*/
  }
  *::selection .logo {
    width: 25%;
    height: 25%;
  }
  *::selection .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  *::selection .inicio .content h1 {
    font-size: 3.3rem;
    color: #666;
    text-transform: uppercase;
    padding-top: 50px;
  }
  *::selection .inicio .content p {
    font-size: 1.5rem;
    color: rgb(216, 193, 193);
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
  }
  *::selection .inicio {
    flex-flow: column-reverse;
  }
  *::selection .certificado {
    text-align: center;
  }
  *::selection .heading {
    text-align: center;
    font-size: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
