*::selection {background: white;}

body {background: white}

section {min-height: 100vh;
padding: 0 9%;
padding-top: 2.5rem;
padding-bottom: 2rem;}

.logo {width: 10%;
height: 10%;}

.inicio {display: flex;
align-items: center;
justify-content: center;
;}

.inicio .content h3 {font-size: 5.5rem;
color: aqua;
text-transform: uppercase;}

.inicio .content p {font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;}

.inicio {flex-flow: column-reverse;}








