/*Estilos inicio*/
@import '../base/variables';
@import '../base/listas';

*::selection {background: nth($color-brand, 1)}

body {background: nth($color-brand, 1)}

.logo {width: 10%;
height: 10%;}


h1  {font-size: 5.5rem;
    color: nth($color-brand, 3);
    text-align: center;
    justify-content: center;}


@media (max-width: 991px) {

    .logo {width: 25%;
    height: 25%;}
}