*::selection {background: rgb(236, 228, 228);}

body {background: rgb(236, 227, 227)}

.logo {width: 10%;
height: 10%;}


h1  {font-size: 5.5rem;
    color: aqua;
    text-align: center;
    justify-content: center;}


@media (max-width: 991px) {

    .logo {width: 25%;
    height: 25%;}
}