/*Estilos inicio*/
@import '../base/variables';
@import '../base/listas';

*::selection {background: nth($color-brand, 1)}

body {background: nth($color-brand, 1)}

.logo {width: 10%;
height: 10%;}


.formulario h1  {font-size: 5.5rem;
    color: nth($color-brand, 3);
    text-align: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;}

.container {padding-bottom: 5%;}


@media (max-width: 991px) {

    .logo {width: 25%;
    height: 25%;}

    .formulario h1 {font-size: 3.3rem;
    padding: 20px;}
}

@media (max-width: 500px) {

    .logo {width: 25%;
    height: 25%;}

    .formulario h1 {font-size: 2rem;
    padding: 20px;}
}