/*Estilos inicio*/
@import '../base/variables';
@import '../base/listas';

/*Style Index*/
*::selection {background: nth($color-brand, 1);}

body {background: nth($color-brand, 2);}

/*Logo*/
.logo {width: 10%;
height: 10%;}

/*Inicio*/
.inicio {display: flex;
align-items: center;
justify-content: center;
padding-top: 20px;}

.inicio .content h1 {font-size: 100px;
color: nth($color-brand, 3);;
text-transform: uppercase;
padding-bottom: 50px;
font-family: $font-h1;}

.inicio .content p {font-size: 30px;
    color: nth($color-brand, 5);;
    font-family: $font-secundaria;
    padding-left: 5%;}

/*Servicios*/
.servicios .caja-contenedora {display: flex;
align-items: center;
padding: 20px;}

.servicios {padding-top: 30px;}

.servicios .heading {font-family: $font-h1;}

.servicios .caja-contenedora .caja {
background: nth($color-brand, 5);
border: 0.5rem solid nth($color-brand, 7);
margin: 1.5rem;
padding: 3rem 2rem;
text-align: center;
height: 700px;
width: 30%;
}

.servicios .caja-contenedora .caja h3 {
font-size: 40px;
color: nth($color-brand, 8);
padding-top: 15px;
padding-left: 15px;
font-family: $font-secundaria;}

.img {height: 300px;}


.servicios .btn {display: inline-block;
margin-top: 20px;
padding: 20px;
border-radius: 6rem;
background: nth($color-brand, 6);
font-size: 20px;
color: nth($color-brand, 5);
cursor: pointer;
}

/*Contacto*/
.contacto {padding: 50px;
padding-left: 5px;
padding-bottom: 50px;}

.contacto .container .col-13 {text-align: center;}

.contacto h1 {font-size: 5.5rem;
font-family: $font-h1;
padding-left: 50px;}

.container .row .img-logo {width: 70%;
height: auto;}


/*Media Query's*/
@media (max-width: 991px) {

    
    .logo {width: 25%;
    height: 25%;}
    
    .inicio {display: flex;
    align-items: center;
    justify-content: center;
    ;}
    
    .inicio .content h1 {font-size: 3.3rem;
        color: aqua;
        text-transform: uppercase;
        padding-top: 50px;
        font-family: $font-h1;}
    
    .inicio .content p {font-size: 1.5rem;
        color: #666;
        padding: 20px;
        padding-left: 50px;}
    
    .servicios .heading {font-family:$font-h1;}
    
    
    .servicios .caja-contenedora {display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;}
    
    .servicios .caja-contenedora .caja {flex: 1 1 30rem;
    background: nth($color-brand, 9);
    border: 0.5rem solid nth($color-brand, 10);
    margin: 1.5rem;
    padding: 50px;
    text-align: center;
    }
    
    .servicios .caja-contenedora .caja h3 {
    font-size: 30px;
    color: nth($color-brand, 6);
    padding-top: 50px;
    font-family: $font-secundaria;
    }
    
    .inicio {flex-flow: column-reverse;}
    
    .heading {text-align: center;
    font-size: 50px;}
    
    .servicios .btn {display: inline-block;
    margin-top: 1rem;
    padding: 25px;
    padding-top: 10px;
    border-radius: 6rem;
    background: nth($color-brand, 4);
    font-size: 25px;
    color: nth($color-brand, 11);
    cursor: pointer;
    font-family: $font-h1;}
    
   
    .img {height: 200px;}

    .contacto h1 {font-size: 3.3rem;
    padding-left: 30px;
    padding-top: 50px;
    font-family: $font-h1;}

    .contacto .container .col-13 {padding-left: 50px;}

}

@media (max-width: 500px) {

    
    .logo {width: 25%;
    height: 25%;}
    
    .inicio {display: flex;
    align-items: center;
    justify-content: center;
    ;}
    
    .inicio .content h1 {font-size: 3.3rem;
        color: aqua;
        text-transform: uppercase;
        padding-top: 50px;
        font-family: $font-h1;}
    
    .inicio .content p {font-size: 1.5rem;
        color: #666;
        padding: 20px;
        padding-left: 50px;}
    
    .servicios .heading {font-family:$font-h1;}
    
    
    .servicios .caja-contenedora {display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;}
    
    .servicios .caja-contenedora .caja {flex: 1 1 30rem;
    background: nth($color-brand, 10);
    border: 0.5rem solid nth($color-brand, 7);
    margin: 1.5rem;
    padding: 50px;
    text-align: center;
    }
    
    .servicios .caja-contenedora .caja h3 {
    font-size: 30px;
    color: nth($color-brand, 6);
    padding-top: 50px;
    font-family: $font-secundaria;
    }
    
    .inicio {flex-flow: column-reverse;}
    
    .heading {text-align: center;
    font-size: 50px;}
    
    .servicios .btn {display: inline-block;
    margin-top: 1rem;
    padding: 25px;
    padding-top: 10px;
    border-radius: 6rem;
    background: nth($color-brand, 4);
    font-size: 25px;
    color: nth($color-brand, 11);
    cursor: pointer;
    font-family: $font-h1;}
    
   
    .img {height: 200px;}

    .contacto h1 {font-size: 3.3rem;
    padding-left: 30px;
    padding-top: 50px;
    font-family: $font-h1;}

    .contacto .container .col-13 {padding-left: 50px;}

}

