*::selection {background: rgb(236, 226, 226);}

body {background: rgb(236, 230, 230)}

.logo {width: 10%;
height: 10%;}

.servicios .caja-contenedora {display: flex;
align-items: center;
;
padding: 20px;}

.servicios .caja-contenedora .caja {
background: rgb(218, 204, 204);
border: 0.5rem solid rgb(187, 147, 147);
margin: 1.5rem;
padding: 2rem 2rem;
text-align: center;
}

.servicios .caja-contenedora .caja h3 {
font-size: 40px;
color: rgb(143, 87, 87);
padding-top: 15px;
padding-left: 15px;
}

.heading {text-align: center;
font-size: 100px;
padding-top: 100px;}


h1  {font-size: 5.5rem;
    color: aqua;
    text-align: center;
    justify-content: center;}

img {width: 250px;
height: 250px;}


@media (max-width: 991px) {

    .logo {width: 25%;
    height: 25%;}
    
    
    
    .servicios .caja-contenedora {display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;}
    
    .servicios .caja-contenedora .caja {flex: 1 1 50rem;
    background: rgb(218, 199, 199);
    border: 0.5rem solid rgb(156, 115, 115);
    margin: 50px;
    padding: 100px;
    text-align: center;
    }
    
    .servicios .caja-contenedora .caja h3 {
    font-size: 40px;
    color: rgb(161, 136, 136);}
    
    .heading {text-align: center;
    font-size: 50px;} 

    img {width: 200px;
        ;}
}

@media (max-width: 520px) {

    .logo {width: 25%;
    height: 25%;}
    
    
    
    .servicios .caja-contenedora {display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;}
    
    .servicios .caja-contenedora .caja 
    {background: rgb(218, 199, 199);
    border: 0.5rem solid rgb(156, 115, 115);
    margin: 30px;
    padding: 50px;
    text-align: center;
    }
    
    .servicios .caja-contenedora .caja h3 {
    font-size: 40px;
    color: rgb(161, 136, 136);}
    
    .heading {text-align: center;
    font-size: 50px;} 

    img {width: 200px;
        ;}


}
     
        