/*Estilos inicio*/
@import '../base/variables';
@import '../base/listas';

*::selection {background: nth($color-brand, 1)}

body {background: nth($color-brand, 1)}

.logo {width: 10%;
height: 10%;}

.servicios .caja-contenedora {display: flex;
align-items: center;
;
padding: 20px;}

.servicios .caja-contenedora .caja {
background-color: nth($color-brand, 7);
border: 0.5rem solid nth($color-brand, 5);
margin: 1.5rem;
padding: 2rem 2rem;
text-align: center;
}

.servicios .caja-contenedora .caja h3 {
font-size: 40px;
color: nth($color-brand, 6);
padding-top: 15px;
padding-left: 15px;}

.heading {text-align: center;
font-size: 100px;
padding-top: 100px;}


h1  {font-size: 5.5rem;
    color: nth($color-brand, 3);
    text-align: center;
    justify-content: center;}

img {width: 250px;
height: 250px;}


@media (max-width: 991px) {

    .logo {width: 25%;
    height: 25%;}
    
    
    
    .servicios .caja-contenedora {display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;}
    
    .servicios .caja-contenedora .caja {flex: 1 1 50rem;
    background: nth($color-brand, 1);
    border: 0.5rem solid 5;
    margin: 50px;
    padding: 100px;
    text-align: center;
    }
    
    .servicios .caja-contenedora .caja h3 {
    font-size: 40px;
    color: nth($color-brand, 6)}
    
    .heading {text-align: center;
    font-size: 50px;} 

    img {width: 200px;
        ;}
}

@media (max-width: 520px) {

    .logo {width: 25%;
    height: 25%;}
    
    
    
    .servicios .caja-contenedora {display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;}
    
    .servicios .caja-contenedora .caja 
    {background: nth($color-brand, 1);
    border: 0.5rem solid nth($color-brand, 1);
    margin: 30px;
    padding: 50px;
    text-align: center;
    }
    
    .servicios .caja-contenedora .caja h3 {
    font-size: 40px;
    color: nth($color-brand, 5)}
    
    .heading {text-align: center;
    font-size: 50px;} 

    img {width: 200px;
        ;}


}
     
        