/*Estilos inicio*/
@import '../base/variables';
@import '../base/listas';

/*Selection-body*/
    *::selection {background: nth($color-brand, 1);
    body {background: nth($color-brand, 1)}

/*Logo*/
    .logo {width: 10%;
    height: 10%;}

/*Inicio*/
    .inicio {display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;}

    .inicio .content {font-size: 100px;
    color: nth($color-brand, 3);
    text-transform: uppercase;}

    .inicio .content p {font-size: 30px;
    color: nth($color-brand, 7);
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: $font-secundaria;}

    .heading {text-align: center;
    font-size: 100px;
    padding-top: 100px;
    font-family: $font-h1;}


/*Media Query*/
@media (max-width: 991px) {

    /*Logo*/
        .logo {width: 25%;
        height: 25%;}
    
    /*Inicio*/
        .inicio {display: flex;
        align-items: center;
        justify-content: center;
        ;}
    
        .inicio .content {font-size: 3.3rem;
        color: nth($color-brand, 5);
        text-transform: uppercase;
        padding-top: 50px;}
    
        .inicio .content p {font-size: 1.5rem;
        color: nth($color-brand, 7);
        padding: 30px;
        padding-left: 60px;
        padding-right: 60px;}
    
        .inicio {flex-flow: column-reverse;}
    
/*Media Query*/    
    @media (max-width: 860px) {

        /*Logo*/
            .logo {width: 25%;
            height: 25%;}
        
         /*Inicio*/
            .inicio {display: flex;
            align-items: center;
            justify-content: center;
            ;}
        
            .inicio .content h1 {font-size: 3.3rem;
            color: nth($color-brand, 5);
            text-transform: uppercase;
            padding-top: 50px;}
        
            .inicio .content p {font-size: 1.5rem;
            color: nth($color-brand, 7);
            padding: 20px;
            padding-left: 60px;
            padding-right: 60px;}
        
            .inicio {flex-flow: column-reverse;}
        
            .certificado {text-align: center;}
        
        
            .heading {text-align: center;
            font-size: 50px;} }}}
    